<%= render "shared/header" do %>
  <h5 style = "text-transform:uppercase">Create Warehouse</h5>
  <%= render "shared/flash" %>
  <div>
    <p>Please fill the form below to create warehouse</p>
    <%= render "form" %>
  </div>
<% end %>